.rubros-container {
  background-color: #111;
  color: #0f0;
  padding: 1rem;
  border-radius: 8px;
}

.rubros-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.rubros-header input {
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
  width: 200px;
}

.btn-nuevo, .btn-editar {
  background-color: #0f0;
  color: #000;
  border: none;
  padding: 0.4rem 0.7rem;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.rubros-table {
  width: 100%;
  border-collapse: collapse;
  color: white !important;

}

.rubros-table th, .rubros-table td {
  padding: 0.5rem;
  border-bottom: 1px solid #0f0;
  text-align: left;
  cursor: pointer;
  
}

.rubros-table th {
  background-color: #222;
}

.rubros-paginacion {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.rubros-paginacion button {
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  border: none;
  background-color: #0f0;
  color: #000;
  cursor: pointer;
}
